<% if flash[:error] %>
  <br/>
  <div class="alert alert-warning" role="alert">
        <%= flash[:error] %>
    </div>
<% end %>
<br/>
<%= form_for @user do |f| %>
  <%= f.text_field :name, class: "form-control" , placeholder: "Name" %> <br />
  <%= f.text_field :email, class: "form-control",placeholder: "Email" %> <br />
  <%= f.number_field :age, class: "form-control", placeholder: "Age" %> <br />
  <%= f.text_field :gender, class: "form-control", placeholder: "Gender" %> <br />
  <%= f.telephone_field :phone_number, class: "form-control", placeholder: "Phone" %> <br />
  <%= f.submit class: "btn btn-primary "%>
<% end %>