<% if flash[:success] %>
<br/>
  <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
    </div>
<% end %>

<br/>

<div class="row">
  <div class="col-md-5">

    <% if @user.nil? %>
        Nu exista userul cerut.
    <% else %>
        <%= render @user %>
        <%= render 'shared/stats'%>
         <% if current_user?(@user) %>
          <div class="p-2">
            <%= render partial: 'shared/error_messages', locals: { obj: @post } %>
            <%= render partial: 'shared/update_post', locals: { text: "Post" } %>
          </div>
        <% end %>
    <% end %>
  </div>

<% if @user.present? %>
    <div class= "col-md-6">
      <%= render 'follow_form' if logged_in? %>
      <h3>Posts (<%= @posts.count %>)</h3>
      <%= render 'shared/paginated_posts'%>
    </div>
  <% end %>
</div>
<div>
  <%= link_to 'Back to users', '/users', class: "btn btn-secondary"%>
</div>
