<br/>
<div class="card user_card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(reply.user.name , user_path(reply.user.id)) %></h5>
    <p class="card-text"> @<%= link_to(reply.comm.post.user.name , user_path(reply.comm.post.user.id)) %>
    <%= reply.text %><br>
    Replied by <%= link_to reply.user.name, reply.user %> <%= time_ago_in_words(reply.updated_at)%> ago.
    </p>
      <% if logged_in? %>
        <%= button_to "Like", {:controller => :replies, :action => 'toggle_like_r', :id => reply.id}, :method => :update, :class => "btn like_button #{if(Like.where(user_id: current_user.id, reply_id: reply.id).count == 1)
                "btn_like_red"     
            else
                "btn-secondary"
            end}" %> <> <%= @likes.where(reply_id: reply.id).count%>
      <% end %>
  </div>
</div>

 